body{
	background-color: yellow;
	font-family: cursive;
}
form{
	border: 3px solid red;
}

input:required{
	border: 2px groove violet;
}

input:optional{
 	border: 2px dashed violet;
}

input:disabled{
	border: 2px dotted violet;
}

input:read-only{
	background-color: gray;
}

p{
	display: none;
}

input:hover{
	background-color: tomato;
}

input:hover + p{
	display: inline;
	font-family: monospace;
	color: red;
}

input:focus{
	background-color: #c5cf3e;
	font-weight: bold;
}

img{
	display: none;
}

input[type="email"]:focus:valid ~ img.valid{
	display: inline;
}

input[type="email"]:focus:invalid ~ img.invalid{
	display: inline;
}

input[type="radio"]:checked{
	width: 20px;
	height: 20px;
}

input[type="radio"]:checked + label{
	color: red;
}

input[type="submit"]{
	border: 2px solid violet;
}

input[type="number"]:focus:in-range ~ img.valid{
	display: inline;
	width: 20px;
	height: 20px;
}

input[type="number"]:focus:out-of-range ~ img.invalid{
	display: inline;
	width: 20px;
	height: 20px;
}

h2::first-line{
	color: tomato;
	font:fantasy;
	font-weight: bold;
}

h2::first-letter{
	color: black;
	font: sans-serif;
	font-weight: bolder;
}

input[type="number"]:focus:out-of-range::after{
	content: "invalid";
	color: red;
}

input[type="number"]:focus:out-of-range ~ p{
  display: inline;
  color: red;
}

